html, body{
    -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
    background: -moz-linear-gradient(45deg, rgba(0,110,46,1) 0%, rgba(0,110,46,0.91) 3%, rgba(0,110,46,0.6) 13%, rgba(0,110,46,0.6) 25%, rgba(0,110,46,0.6) 43%, rgba(0,110,46,0.6) 61%, rgba(0,110,46,0.6) 71%, rgba(0,110,46,1) 100%);  FF3.6+ 
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(0,110,46,1)), color-stop(3%,rgba(0,110,46,0.91)), color-stop(13%,rgba(0,110,46,0.6)), color-stop(25%,rgba(0,110,46,0.6)), color-stop(43%,rgba(0,110,46,0.6)), color-stop(61%,rgba(0,110,46,0.6)), color-stop(71%,rgba(0,110,46,0.6)), color-stop(100%,rgba(0,110,46,1)));  Chrome,Safari4+ 
background: -webkit-linear-gradient(45deg, rgba(0,110,46,1) 0%,rgba(0,110,46,0.91) 3%,rgba(0,110,46,0.6) 13%,rgba(0,110,46,0.6) 25%,rgba(0,110,46,0.6) 43%,rgba(0,110,46,0.6) 61%,rgba(0,110,46,0.6) 71%,rgba(0,110,46,1) 100%);  Chrome10+,Safari5.1+ 
background: -o-linear-gradient(45deg, rgba(0,110,46,1) 0%,rgba(0,110,46,0.91) 3%,rgba(0,110,46,0.6) 13%,rgba(0,110,46,0.6) 25%,rgba(0,110,46,0.6) 43%,rgba(0,110,46,0.6) 61%,rgba(0,110,46,0.6) 71%,rgba(0,110,46,1) 100%);  Opera 11.10+ 
background: -ms-linear-gradient(45deg, rgba(0,110,46,1) 0%,rgba(0,110,46,0.91) 3%,rgba(0,110,46,0.6) 13%,rgba(0,110,46,0.6) 25%,rgba(0,110,46,0.6) 43%,rgba(0,110,46,0.6) 61%,rgba(0,110,46,0.6) 71%,rgba(0,110,46,1) 100%);  IE10+ 
background: linear-gradient(45deg, rgba(0,110,46,1) 0%,rgba(0,110,46,0.91) 3%,rgba(0,110,46,0.6) 13%,rgba(0,110,46,0.6) 25%,rgba(0,110,46,0.6) 43%,rgba(0,110,46,0.6) 61%,rgba(0,110,46,0.6) 71%,rgba(0,110,46,1) 100%);  W3C 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006e2e', endColorstr='#006e2e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */







/*background: rgb(224,243,250);  Old browsers 
background: -moz-linear-gradient(45deg, rgba(224,243,250,1) 0%, rgba(216,240,252,1) 50%, rgba(184,226,246,1) 51%, rgba(182,223,253,1) 100%);  FF3.6+ 
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(224,243,250,1)), color-stop(50%,rgba(216,240,252,1)), color-stop(51%,rgba(184,226,246,1)), color-stop(100%,rgba(182,223,253,1)));  Chrome,Safari4+ 
background: -webkit-linear-gradient(45deg, rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(184,226,246,1) 51%,rgba(182,223,253,1) 100%);  Chrome10+,Safari5.1+ 
background: -o-linear-gradient(45deg, rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(184,226,246,1) 51%,rgba(182,223,253,1) 100%);  Opera 11.10+ 
background: -ms-linear-gradient(45deg, rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(184,226,246,1) 51%,rgba(182,223,253,1) 100%);  IE10+ 
background: linear-gradient(45deg, rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(184,226,246,1) 51%,rgba(182,223,253,1) 100%);  W3C 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#b6dffd',GradientType=1 );  IE6-9 fallback on horizontal gradient */


/*background: -moz-linear-gradient(45deg, rgba(18,124,122,1) 0%, rgba(18,124,122,0.94) 50%, rgba(0,110,79,0.94) 51%, rgba(8,117,99,0.91) 74%, rgba(18,124,122,1) 100%);  FF3.6+ 
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(18,124,122,1)), color-stop(50%,rgba(18,124,122,0.94)), color-stop(51%,rgba(0,110,79,0.94)), color-stop(74%,rgba(8,117,99,0.91)), color-stop(100%,rgba(18,124,122,1)));  Chrome,Safari4+ 
background: -webkit-linear-gradient(45deg, rgba(18,124,122,1) 0%,rgba(18,124,122,0.94) 50%,rgba(0,110,79,0.94) 51%,rgba(8,117,99,0.91) 74%,rgba(18,124,122,1) 100%);  Chrome10+,Safari5.1+ 
background: -o-linear-gradient(45deg, rgba(18,124,122,1) 0%,rgba(18,124,122,0.94) 50%,rgba(0,110,79,0.94) 51%,rgba(8,117,99,0.91) 74%,rgba(18,124,122,1) 100%);  Opera 11.10+ 
background: -ms-linear-gradient(45deg, rgba(18,124,122,1) 0%,rgba(18,124,122,0.94) 50%,rgba(0,110,79,0.94) 51%,rgba(8,117,99,0.91) 74%,rgba(18,124,122,1) 100%);  IE10+ 
background: linear-gradient(45deg, rgba(18,124,122,1) 0%,rgba(18,124,122,0.94) 50%,rgba(0,110,79,0.94) 51%,rgba(8,117,99,0.91) 74%,rgba(18,124,122,1) 100%);  W3C 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#127c7a', endColorstr='#127c7a',GradientType=1 );  IE6-9 fallback on horizontal gradient */


/*background: -moz-linear-gradient(45deg, rgba(18,124,122,1) 0%, rgba(18,124,122,0.94) 50%, rgba(18,124,122,0.91) 74%, rgba(18,124,122,1) 100%);  FF3.6+ 
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(18,124,122,1)), color-stop(50%,rgba(18,124,122,0.94)), color-stop(74%,rgba(18,124,122,0.91)), color-stop(100%,rgba(18,124,122,1)));  Chrome,Safari4+ 
background: -webkit-linear-gradient(45deg, rgba(18,124,122,1) 0%,rgba(18,124,122,0.94) 50%,rgba(18,124,122,0.91) 74%,rgba(18,124,122,1) 100%);  Chrome10+,Safari5.1+ 
background: -o-linear-gradient(45deg, rgba(18,124,122,1) 0%,rgba(18,124,122,0.94) 50%,rgba(18,124,122,0.91) 74%,rgba(18,124,122,1) 100%);  Opera 11.10+ 
background: -ms-linear-gradient(45deg, rgba(18,124,122,1) 0%,rgba(18,124,122,0.94) 50%,rgba(18,124,122,0.91) 74%,rgba(18,124,122,1) 100%);  IE10+ 
background: linear-gradient(45deg, rgba(18,124,122,1) 0%,rgba(18,124,122,0.94) 50%,rgba(18,124,122,0.91) 74%,rgba(18,124,122,1) 100%);  W3C 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#127c7a', endColorstr='#127c7a',GradientType=1 );  IE6-9 fallback on horizontal gradient */
}
body {
                padding-top: 0px;
                padding-bottom: 20px;
            }
            .nav-main{
                background-color: #101010;
                color: whitesmoke;
                border-bottom:  5px solid #F72d59;
                width: 100%;
/*                border-radius: 10px;*/
                
            }

            .nav-color > ul > li > a{
                color: #FFFFFF;
                font-size: 18px;
                font-weight: bold;
            }
            .nav-color > ul > li > a:hover{
                color: #000000;
                background-color: #F72d59;
                border-bottom:  5px solid #F72d59;
                font-size: 18px;
                font-weight: bold;
            }
            .dropdown-menu{
                border-top:  5px solid #F72d59;
               
                box-shadow: 1px 2px 4px #F72d59;
            }
            .dropdown-menu > li > a{
                
                color: #F72d59;
                font-size: 16px;
                font-weight: bold;
            }
            .dropdown-menu > li > a:hover{
                //background-color: #101010;
                color: #101010;
                font-size: 16px;
                font-weight: bold;
            }
/*            .nav-color > ul > li >  .active{
                color: #101010;
                background-color: cornflowerblue;
                border-bottom:  5px solid cadetblue;
                font-size: 18px;
                font-weight: bold;
            }*/
/*            .nav-color > ul > li > a:link{
                  color: #101010;
                background-color: cadetblue;
                font-size: 18px;
                font-weight: bold;
            }*/
/*            .nav-color > ul > li > a:link{
                color: crimson;
                background-color: whitesmoke;
                font-size: 18px;
                font-weight: bold;
            }*/
.navbar-brand{
    color: white;
    font-weight: bold;
}
.navbar{
    width: 100%;
}
.move-up{
 margin-top: -20px;   
}
.rite-header{
    font-weight: bold;
    font-size: 20px;
    color: #F72d59;
    background-color: #000000;
    height: 70px;
    padding: 5px;
    border-bottom:  5px solid #F72d59;
}
.list-group > a{
    background-color: transparent;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
}
.list-group > a:hover{
    background-color: #000000;
    color: #F72d59;
    font-size: 16px;
    cursor: default;
}
.rite-side{
    background-color: transparent;
    opacity: 0.9;
    margin-right: 0px;
   
}
.img-thumbnail{
    border:5px solid #F72d59;
}

.img-h{
    color:  #FFFFFF;
}
.text-new{
    font-size: 14px;
    text-align: justify;
    color: rgba(18,124,122,1);
    font-family: time roman;
}
.footer{
    background-color: #101010;
    border-top: 5px solid #F72d59;
    border-bottom:  10px solid green;
}
.cont{
    box-shadow: 0px 5px 4px #3c763d;
}
.move-rite{
    padding-left: 20px;
    
}
.donation-font{
    color: #F72d59;
    font-size: 16px;
}

.tran{
    background-color: transparent;
    margin-left: 1px;
}
.tran1{
    background-color: transparent;
    margin-right:  2px;
}
.turn-it-up{
    width: 180px;
    height: 180px;
    
    transform: rotate(45deg);
    background-color: #3c763d;
    opacity: .6;
    box-shadow: 2px 0px 4px #F72d59;
    border-radius: 10px;
    z-index: 10;
    position: absolute;
    top: 230px;
    left: 150px;
}
.turn-it-up1{
    width: 280px;
    height: 280px;
    
    transform: rotate(45deg);
    background-color: #3c763d;
    opacity: .6;
    box-shadow: 2px 0px 4px #F72d59;
    border-radius: 10px;
    z-index: 10;
    position: absolute;
    top: 230px;
    left: 550px;
}
.turn-it-up2{
    width: 180px;
    height: 180px;
    
    transform: rotate(45deg);
    background-color: #3c763d;
    opacity: .6;
    box-shadow: 2px 0px 4px #F72d59;
    border-radius: 10px;
    z-index: 10;
    position: absolute;
    top: 230px;
    left: 1050px;
}
/*@media (min-width: 768px) {
    .turn-it-up{
    width: 200px;
    height: 200px;
    transform: rotate(45deg);
    background-color: black;
    
    position: absolute;
    top: 230px;
    left: 50px;
}
}*/
.oj-img-background{
    width: 1500px;
    height: 800px;
    
/*    transform: rotate(45deg);*/
    background-color: #3c763d;
    opacity: 19;
    box-shadow: 2px 0px 4px #F72d59;
    border-radius: 10px;
    z-index: -1;
    position: fixed;
/*    top: 230px;
    left: 1050px;*/
    
}

/*.dropdown-menu > li > a:hover{
    color: #ffcc33;
    background-color: black;
}*/
ul.nav li.dropdown:hover > ul.dropdown-menu{
    display: inline-block;
    margin: 0;
    
/*    width: 200px;;
    margin: 0px auto auto auto;*/
}

.login-part{
    height: 608px;  
    z-index: 20; 
    color: black; 
    background-color: transparent;  
    top: 50px; 
    right: 15px; 
    position: absolute; 
    margin-right: -15px;
}
.textBox{
    background-color: transparent;
    color: red;
    font-weight: bold;
}
.textLabel{
    font-size: 14px;
    color: #000000;
    background-color: wheat;
    border-radius: 1px;
    padding: 5px;
    box-shadow: 2px 0px 4px #3c763d;
}
